@page "/"

<NavBar BackgroundIsVisible="false" NavigationIsVisible="false" />

<video class="full-screen" playsinline autoplay muted loop id="bgvid">
    <source src="vid/home-background.webm" type="video/webm" />
    <source src="vid/home-background.mp4" type="audio/mp4" />
</video>

<div class="video-full-cover"></div>

<div class="home-banner-full">
    <div>
        <h1>Valerian Exchange Program</h1>
        <button class="btn p-2">How It Works</button>
    </div>
</div>

@*<div class="wrapper">
    <div class="container">
        <div class="columns">
            <div class="col-12">
                <img class="img-fit-cover d-block p-centered" src="img/braavos-banner.png" />
            </div>
        </div>
    </div>

    <h1>Valerian Exchange Program</h1>

    <p>
        Welcome to the VEP! If this is your first time seeing this new system, please take the time to <a href="#">log in</a> 
        with the secret code that you were given by a VEP administrator. If you do not have a secret code, please 
        <a href="#">contact a VEP administrator</a> for assistance.
    </p>
</div>*@
