@page "/"

<NavBar BackgroundIsVisible="false" NavigationIsVisible="false" />

<video id="bgvid" class="full-screen" autoplay loop muted playsinline poster="img/home-background.png">
    <source src="vid/home-background.mp4" type="video/mp4" />
    <source src="vid/home-background.webm" type="video/webm" />
</video>

<div class="video-full-cover"></div>

<div class="home-banner-full">
    <div>
        <h1>Valerian Exchange Program</h1>
        <button class="btn p-2">How It Works</button>
    </div>
</div>

@code {

}
