<div class="hide-sm">
    <header class="navbar @((BackgroundIsVisible ? "" : "no-bg"))">
        @if (NavigationIsVisible)
        {
            <section class="navbar-section">
                <a href="#" class="btn btn-link">My Account</a>
                <a href="#" class="btn btn-link">How It Works</a>
            </section>
        }
        <section class="navbar-center">
            <NavLink href="" Match="NavLinkMatch.All">
                <img class="logo" src="img/logo.png" />
            </NavLink>
        </section>
        <section class="navbar-section">
            <a href="#" class="btn btn-link">Log In</a>
        </section>
    </header>
</div>

<div class="show-sm">
    <header class="navbar @((BackgroundIsVisible ? "" : "no-bg"))">
        <section class="navbar-section">
            <img class="logo" src="img/logo.png" />
        </section>
        @if (NavigationIsVisible)
        {
            <section class="navbar-section">
                <div class="dropdown dropdown-right">
                    <button class="hamburger hamburger--slider dropdown-toggle" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <ul class="menu">
                        <a href="#" class="btn btn-link">My Account</a>
                        <a href="#" class="btn btn-link">How It Works</a>
                        <a href="#" class="btn btn-link">Log Out</a>
                    </ul>
                </div>
            </section>
        }
        else
        {
            <section class="navbar-section">
                <a href="#" class="btn btn-link">Log In</a>
            </section>
        }
    </header>
</div>

@code {

    [Parameter]
    public bool BackgroundIsVisible { get; set; }

    [Parameter]
    public bool NavigationIsVisible { get; set; }

}
