<div class="chip bg-dark text-light">
    <img src="img/@ImgSrc" class="avatar avatar-sm" />
    @(System.Text.RegularExpressions.Regex.IsMatch(AllianceName, "[0-9]{1}[a-zA-Z]+") ? AllianceName.Substring(1) : AllianceName)
</div>

@code {

    [Parameter]
    public string AllianceName { get; set; }

    private string ImgSrc => AllianceName.ToLower() switch
    {
        var name when name.Contains("ccc") => "ccc.jpg",
        var name when name.Contains("ftw") => "ftw.jpg",
        var name when name.Contains("haven") => "haven.jpg",
        var name when name.Contains("iron") => "iron.jpg",
        var name when name.Contains("sparta") => "sparta.jpg",
        _ => "none.jpg"
    };

}
