$primary-color: #baa032;
$secondary-color: #c8c8c8;
$dark-color: #191919;
$hamburger-layer-color: white;

@import "spectre/src/variables";

.home-banner-full {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        width: 50vw;
        font-size: 3rem;
        color: $light-color;
        text-transform: uppercase;
        font-weight: bold;

        @media (max-width: $size-md) {
            width: 80vw;
            font-size: 2rem;
        }

        @media (max-width: $size-sm) {
            width: 90vw;
        }
    }

    .btn {
        height: auto;
        line-height: inherit;
        color: $light-color;
        border-color: $light-color;
        background-color: transparent;
    }
}

video.full-screen {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.video-full-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.wrapper {
    padding: 0 20vw;

    @media (max-width: $size-md) {
        padding: 1rem 10vw;
    }

    @media (max-width: $size-sm) {
        padding: 1rem 5vw;
    }
}

.navbar {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    background-color: $dark-color;
    padding: 1rem 20vw;
    z-index: 100;
    @media (max-width: $size-md) {
        padding: 1rem 10vw;
    }
    @media (max-width: $size-sm) {
        padding: 1rem 5vw;
    }

    &.no-bg {
        background-color: transparent;

        .btn.btn-link {
            @media (max-width: $size-sm) {
                color: $light-color;
            }
        }
    }

    .btn.btn-link {
        color: $secondary-color;
        @media (max-width: $size-sm) {
            color: $dark-color;
        }

        &.active {
            color: $secondary-color;
            border-bottom: $secondary-color 1px solid;

            @media (max-width: $size-sm) {
                color: $dark-color;
                border-bottom-color: $dark-color;
            }
        }
    }
    img.logo {
        height: 3rem;
    }
}

.py-xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@import "spectre/src/spectre";
@import "icons.css/src/icons";
@import "hamburgers/hamburgers";

.panel .columns .column {
    @extend .d-flex;
    align-items: center;
}

.table {
    @media (max-width: $size-md) {
        display: block;
        overflow-x: auto;
        padding-bottom: .75rem;
        white-space: nowrap;
    }
}

.dropdown {
    .dropdown-toggle:focus {
        .hamburger-inner {
            $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

            transform: translate3d(0, $y-offset, 0) rotate(45deg);

            &::before {
                transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
                opacity: 0;
            }

            &::after {
                transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
            }
        }
    }
}

#blazor-error-ui {
    display: none;
}

/* Loading Screen */
#loading-wrapper {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    width: 80px;
    height: 80px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

